{% extends 'knp_menu.html.twig' %}

{% block root %}
{% set listAttributes = item.childrenAttributes|merge({
	'class': 'primary'
}) %}
{{ block('list') -}}
{% endblock %}

{% block item %}
{% if item.displayed %}
{# building the class of the item #}
    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {%- if matcher.isCurrent(item) %}
        {%- set classes = classes|merge([options.currentClass]) %}
    {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
        {%- set classes = classes|merge([options.ancestorClass]) %}
    {%- endif %}
    {%- if item.actsLikeFirst %}
        {%- set classes = classes|merge([options.firstClass]) %}
    {%- endif %}
    {%- if item.actsLikeLast %}
        {%- set classes = classes|merge([options.lastClass]) %}
    {%- endif %}

    {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
    {% if item.hasChildren and options.depth is not sameas(0) %}
        {% if options.branch_class is not empty and item.displayChildren %}
            {%- set classes = classes|merge([options.branch_class]) %}
        {% endif %}
    {% elseif options.leaf_class is not empty %}
        {%- set classes = classes|merge([options.leaf_class]) %}
    {%- endif %}

    {%- set attributes = item.attributes %}
    {%- if classes is not empty %}
        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- endif %}
{# displaying the item #}
    {% import 'knp_menu.html.twig' as knp_menu %}
    <li{{ knp_menu.attributes(attributes) }}>
        {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
        {{ block('linkElement') }}
        {%- else %}
        {{ block('spanElement') }}
        {%- endif %}
{# render the list of children#}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level, 'collapse']) %}
        {%- if matcher.isCurrent(item) %}
			{%- set childrenClasses = childrenClasses|merge(['in']) %}
        {%- endif %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' '), 'id': 'menu-' ~ item.getName()}) %}
        {{ block('list') }}
    </li>
{% endif %}
{% endblock %}

{% block spanElement %}
{% import 'knp_menu.html.twig' as knp_menu %}
{% set labelAttributes = item.labelAttributes|merge({
	'data-toggle': 'collapse',
	'data-target': '#menu-' ~ item.getName()
}) %}
<button{{ knp_menu.attributes(labelAttributes) }}>
{{ block('label') }}
<b class="caret"></b>
</button>
{% endblock %}

{% block label %}
{% if item.level == 1 %}
	<span class="{{ item.getExtra('icon', 'glyphicon glyphicon-chevron-right') }}"></span>
{% endif %}
{{ parent() }}
{% endblock %}
