{% if element is empty %}
	<i>{% trans 'There are no options' %}</i>
{% else %}
	{% set attributes = element.getAttributes() %}
	{% if element|length > 6 %}
		{% set attributes = attributes|merge({"data-live-search": "true"}) %}
	{% endif %}
	{% if attributes.multiple == 'multiple' %}
		{% set attributes = attributes|merge({"name": attributes.name ~ "[]"}) %}
	{% endif %}

	<select {{ attributes|attr }}>
		{{ _self.iterate(element) }}
	</select>
{% endif %}

{% macro iterate(element) %}
	{% for item in element %}
		{% if getFormElementType(item) == 'optgroup' %}
			<optgroup label="{{ item.getLabel() }}">
				{{ _self.iterate(item) }}
			</optgroup>
		{% else %}
			<option {{ item.getAttributes()|attr }}>{{ item.getContents() }}</option>
		{% endif %}
	{% endfor %}
{% endmacro %}
