<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="{{ base_url() }}assets/ico/favicon.png">

	<title>{% block title %}{% endblock %} &raquo; {{ site_name }}</title>

	{% block head %}
	<link rel="stylesheet" href="{{ base_url() }}assets/theme/css/bootstrap.min.css" title="Indigo theme">
	<link rel="alternate stylesheet" href="{{ base_url() }}assets/theme/css/bootstrap.asparagus.min.css" title="Asparagus theme">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="{{ base_url() }}assets/theme/js/html5shiv.js"></script>
			<script src="{{ base_url() }}assets/theme/js/respond.min.js"></script>
			<![endif]-->
	{% endblock %}

	</head>

<body>

	<div class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ base_url() }}admin">{{ site_name }}</a>
			<a class="navbar-brand" href="{{ base_url() }}"><small>back to site &raquo;</small></a>
		</div>
		<div class="hidden-xs">

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="" class="account dropdown-toggle" data-toggle="dropdown">
						<span class="menu-gravatar" style="background-image:url(https://secure.gravatar.com/avatar/{{ current_user.email | md5 }}?s=30&amp;d=mm)"></span>
						<span class="user-and-welcome-wrapper">
							<small class="welcome-text">welcome,</small>
							<span class="username">{{ current_user.fullname }}</span>
						</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ base_url() }}admin/profile">Profile</a></li>
						<li class="divider"></li>
						<li><a href="{{ base_url() }}admin/logout">Sign out</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="collapse navbar-collapse no-transition">
			<nav class="side-navigation">
				<div class="side-navigation-wrapper">
					<div class="visible-xs">
						<ul class="nav navbar-nav navbar-right">
							<li class="">
								<button class="account" data-toggle="collapse" data-target="#account-menu">
									<span class="menu-gravatar" style="background-image:url(https://secure.gravatar.com/avatar/{{ current_user.email | md5 }}?s=30&amp;d=mm)"></span>
									<span class="user-and-welcome-wrapper">
										<small class="welcome-text">welcome,</small>
										<span class="username">{{ current_user.fullname }}</span>
									</span>
									<b class="caret"></b>
								</button>
								<ul class="collapse" id="account-menu">
									<li><a href="{{ base_url() }}admin/profile">Profile</a></li>
									<li><a href="{{ base_url() }}admin/logout">Sign out</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- /.visible-xs -->
					<ul class="primary">
						<li><a href="{{ base_url() }}admin"><span class="label label-primary pull-right">3</span>
							<span class="glyphicon glyphicon-home"></span> Dashboard
						</a></li>
						<!-- <li><a href="{{ base_url() }}admin/auth"><span class="glyphicon glyphicon-user"></span> Users</a></li> -->
						<li>
							<button data-toggle="collapse" data-target="#menu-item-2">
								<span class="glyphicon glyphicon-user"></span>
								Authentication
								<b class="caret"></b>
							</button>
							<ul class="collapse" id="menu-item-2">
								<li><a href="{{ base_url() }}admin/auth">Users</a></li>
								<li><a href="{{ base_url() }}admin/auth/permissions">Permissions</a></li>
							</ul>
						</li>
						{#
						<li>
							<button data-toggle="collapse" data-target="#menu-item-2">
								<span class="glyphicon glyphicon-book"></span>
								Submenu
								<b class="caret"></b>
							</button>
							<ul class="collapse" id="menu-item-2">
								<li><a href="">Menu item 1</a></li>
								<li><a href="">Menu item 2</a></li>
							</ul>
						</li>
						#}
					</ul>
				</div> <!-- /.side-navigation-wrapper -->
				<div class="side-navigation-footer">
					Aucsa
				</div>
			</nav>

		</div><!--/.nav-collapse -->
		<!-- </div> -->
	</div>



	<div class="content-wrap">
	{% if not session_get_flash('error') is null %}
		<div class="alert alert-dismissable alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ session_get_flash('error') }}
		</div>
	{% endif %}
	{% block content %}{% endblock %}
	</div><!-- /.content-wrap -->



	{% block javascript %}
	<script src="{{ base_url() }}assets/theme/js/jquery-1.9.1.min.js"></script>
	<script src="{{ base_url() }}assets/theme/js/bootstrap.min.js"></script>
	<script src="{{ base_url() }}assets/theme/js/bootstrap-switch.min.js"></script>
	<script src="{{ base_url() }}assets/theme/js/bootstrap-select.min.js"></script>
	<script src="{{ base_url() }}assets/theme/js/jquery.dataTables.min.js"></script>
	<script src="{{ base_url() }}assets/theme/js/datatables.js"></script>
	<script src="{{ base_url() }}assets/theme/js/application.js"></script>
	{% endblock %}
	<script type="text/javascript">
		$(document).ready(function() {
			IndigoAdmin.pageInit();
			// IndigoAdmin.addFastButton('Save', 'save', function() {
			// 	var url = $('.menu-gravatar').css('background-image').replace(/url\("(.*)"\)/g, '$1');
			// 	IndigoAdmin.displayNotification('Title', 'Body of the notification.', url);
			// });
			{% block documentready %}{% endblock %}
		});
	</script>
</body>
</html>
