{% extends 'admin/layout.twig' %}

{% block content %}
<h2>{{ title }} <small>{% filter capitalize %}{% trans %}List of {{ items }}{% endtrans %}{% endfilter %}</small></h2>

{% block create %}
	{% if auth_has_access(module ~ '.create') %}
		<p>
			<a href="{{ url }}/create" class="hidden-print btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% filter capitalize %}{% trans %}Create new {{ item }}{% endtrans %}{% endfilter %}</a>
		</p>
	{% endif %}
{% endblock %}

<div class="panel panel-default">
	<table class="datatables table table-striped table-hover" data-source="{{ url }}.json">
		<thead>
			{% block _filter %}
				<tr class="filter">
					{% for element in filters %}
						<td data-filter="{{ getFormElementType(element) }}" class="{% if item.list.sort is sameas(false) %}no-sort{% endif %}">
							{% include 'admin/skeleton/filter/' ~ getFormElementTemplate(element) ~ '.twig' with {'element': element} only %}
						</td>
					{% endfor %}
					<td data-filter="none" class="hidden-print no-sort">
						<button type="reset" class="btn btn-default">{% trans 'Reset filters' %}</button>
					</td>
				</tr>
			{% endblock %}
			<tr>
				{% for element in filters %}
					{% if element.getName() == 'id' %}
						<th style="width: 100px">#</th>
					{% else %}
						<th>{{ element.getLabel() }}</th>
					{% endif %}
				{% endfor %}
				<th class="hidden-print" style="width: 140px;"></th>
			</tr>
		</thead>
		<tbody></tbody>
		<tfoot>
			{{ block('_filter') }}
		</tfoot>
	</table>
</div>

{{ block('create') }}

{% endblock %}