{% extends 'admin/layout.twig' %}

{% import "admin/skeleton/attribute.twig" as _attribute %}

{% block content %}
<h2>{{ title }} <small>#{{ model.id }}</small></h2>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">{% filter capitalize %}{% trans %}{{ item }} details{% endtrans %}{% endfilter %}</div>
	</div>
	<table class="table table-striped">
		<tbody>
			{% for key, item in model.view() %}
				<tr>
					<td>{{ item.label }}</td>
					{% if item.form.options is not empty %}
						<td>{{ attribute(item.form.options, _attribute.get(model, key)|trim)|trim|nl2br|default('<i>None</i>') }}</td>
					{% else %}
						<td>{{ _attribute.get(model, key)|trim|nl2br|default('<i>None</i>') }}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="panel-footer">
		{% if auth_has_access(module ~ '.edit') %}
				<a href="{{ url }}/edit/{{ model.id }}" class="hidden-print btn btn-success"><span class="glyphicon glyphicon-edit"></span> {% trans 'Edit' %}</a>
		{% endif %}
		{% if auth_has_access(module ~ '.delete')  %}
			<a href="{{ url }}/delete/{{ model.id }}" class="hidden-print btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {% trans 'Delete' %}</a>
		{% endif %}
	</div>
</div>

{% endblock %}

{% block documentready %}
	IndigoAdmin.addFastButton('{% trans 'Back' %}', 'glyphicon glyphicon-arrow-left', '{{ url }}/');
{% endblock %}