{% extends 'admin/layout.twig' %}

{% block title %}{% trans %}{{ module_name }} details{% endtrans %}{% endblock %}

{% block content %}

<h2>{% trans %}{{ module_name }} details{% endtrans %} <small>#{{ model.id }}</small></h2>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">{% trans %}{{ module_name }} details{% endtrans %}</div>
	</div>
	<table class="table table-striped">
		<tbody>
			{% for key, item in model.columns()|default(model.properties()) if (item.details is not defined or item.details is not empty) %}
				<tr>
					<th>{{ item.label }}</th>
					<td>{{ attribute(model, key)|nl2br|default('<i>Null</i>') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="panel-footer">
		{% if auth_has_access(module ~ '.edit') %}
				<a href="{{ admin_url() ~ module}}/edit/{{ model.id }}" class="hidden-print btn btn-success"><span class="glyphicon glyphicon-edit"></span> {% trans 'Edit' %}</a>
		{% endif %}
		{% if auth_has_access(module ~ '.delete')  %}
			<a href="{{ admin_url() ~ module}}/delete/{{ model.id }}" class="hidden-print btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {% trans 'Delete' %}</a>
		{% endif %}
	</div>
</div>

{% endblock %}

{% block documentready %}
	IndigoAdmin.addFastButton('{% trans 'Back' %}', 'glyphicon glyphicon-arrow-left', '{{ admin_url() }}{{ request().module }}');
{% endblock %}