{% extends 'admin/layout.twig' %}

{% set item = module_name[0] %}

{% block content %}
<h2>{{ title }} <small>#{{ model.id }}</small></h2>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">{% filter capitalize %}{% trans %}{{ item }} details{% endtrans %}{% endfilter %}</div>
	</div>
	<table class="table table-striped">
		<tbody>
			{% for key, item in model.view() %}
				<tr>
					<td>{{ item.label }}</td>
					<td>{{ _self._attribute(model, key)|trim|nl2br|default('<i>None</i>') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="panel-footer">
		{% if auth_has_access(module ~ '.edit') %}
				<a href="{{ url }}/edit/{{ model.id }}" class="hidden-print btn btn-success"><span class="glyphicon glyphicon-edit"></span> {% trans 'Edit' %}</a>
		{% endif %}
		{% if auth_has_access(module ~ '.delete')  %}
			<a href="{{ url }}/delete/{{ model.id }}" class="hidden-print btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {% trans 'Delete' %}</a>
		{% endif %}
	</div>
</div>

{% endblock %}

{% macro _attribute(object, key, i = 0) %}
	{% set k = key|split('.') %}
	{% if k|length - 1 > i %}
		{{ _self._attribute(attribute(object, k[i]), key, i + 1) }}
	{% else %}
		{{ attribute(object, k[i]) }}
	{% endif %}
{% endmacro %}

{% block documentready %}
	IndigoAdmin.addFastButton('{% trans 'Back' %}', 'glyphicon glyphicon-arrow-left', '{{ url }}/');
{% endblock %}