{% extends 'admin/layout.twig' %}

{% block content %}
<h2>{{ title }} <small>config</small></h2>

{% for fieldset in fieldsets|batch(2) %}
	<div class="row">
		{% for key, item in fieldset if item.properties is not empty %}
			{% set label = item.label %}
			<div class="col-lg-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">{% filter capitalize %}{{ label|trans }}{% endfilter %}</div>
					</div>
					<table class="table table-striped">
						<tbody>
							{% for k, i in item.properties %}
								<tr>
									<td>{{ attribute(properties, k).label|default(k) }}</td>
									<td>
										{% if attribute(properties, k).type == 'select' %}
											{{ attribute(attribute(properties, k).options, i)|default(i) }}
										{% else %}
											{{ i }}
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endfor %}
	</div>
{% endfor %}


{% endblock %}

{% block documentready %}
	IndigoAdmin.addFastButton('{% trans 'Edit' %}', 'glyphicon glyphicon-pencil', 'edit');
{% endblock %}