{% extends 'admin/skeleton/view.twig' %}

{% block content %}
{{ parent() }}
<br>
{% block create %}
	{% if auth_has_access('enum.item[create]') and (model.read_only == false or auth_has_access('enum.enum[all]')) %}
		<p>
			<a href="{{ url }}/item/create/{{ model.slug }}" class="hidden-print btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% filter capitalize %}{% trans %}Create a new enum item{% endtrans %}{% endfilter %}</a>
		</p>
	{% endif %}
{% endblock %}

<div class="panel panel-default">
	<table class="datatables table table-striped table-hover">
		<thead>
			<tr>
				<th style="width: 75px">#</th>
				<th>{% trans 'Name' %}</th>
				<th>{% trans 'Description' %}</th>
				<th>{% trans 'Slug' %}</th>
				<th>{% trans 'Active?' %}</th>
				<th class="hidden-print" style="width: 140px;"></th>
			</tr>
		</thead>
		<tbody>
			{% for item in model.items %}
				<tr id="{{ item.id }}" data-position="{{ item.sort }}">
					<td>{{ item.item_id }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.slug }}</td>
					<td>{% if item.active %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</td>
					<td>
						<div class="hidden-print btn-group btn-group-sm" style="width:100px">
							{% if auth_has_access('enum_item.edit') %}
								<a href="{{ url }}/item/edit/{{ item.id }}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
							{% endif %}
							{% if auth_has_access('enum_item.delete') %}
								<a href="{{ url }}/item/delete/{{ item.id }}" class="btn btn-default"><span class="glyphicon glyphicon-remove" style="color:#f55;"></span></a>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{{ block('create') }}

{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ base_url() }}assets/theme/js/jquery.dataTables.rowReordering.js"></script>
<script src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
{% endblock %}

{% block documentready %}
	{{ parent() }}
	dtInstance = $('.datatables').dataTable();
	dtInstance.fnSettings().oFeatures.bSort = false;
	dtInstance.rowReordering({
		"sURL": "{{ admin_url() }}enum/item/reorder.json",
		"sRequestType": "GET",
		"iIndexColumn": "position",
		"iStartPosition": 10,
		"iStep": 10
	});
{% endblock %}