{% extends 'frontend/layout.twig' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form class="panel panel-primary" action="{{ url('webshop/cart/update') }}" method="post">
				<div class="panel-heading">{% trans 'Cart' %}</div>
				{% if cart.getQuantity() > 0 %}
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>{% trans 'Product name' %}</th>
									<th>{% trans 'Price' %}</th>
									<th>{% trans 'Quantity' %}</th>
									<th>{% trans 'Subtotal' %}</th>
									<th></th>
								</tr>
							</thead>

							{% for item in cart.getItems() %}
								<tr>
									<td><input type="hidden" name="id[]" value="{{ item.getId() }}">{{ item.getId() }}</td>

									<td><a href="{{ url('webshop/product/' ~ item.getId()) }}">{{ item.getName() }}</a></td>

									<td>{{ item.getPrice().getAmount() }}</td>

									<td><input type="text" name="quantity[]" value="{{ item.getQuantity() }}"></td>

									<td>{{ item.getSubtotal().getAmount() }}</td>

									<td><a class="btn btn-danger" href="{{ url('webshop/cart/remove/' ~ item.getId()) }}">{% trans 'Delete' %}</a></td>
								</tr>
							{% endfor %}

							<tfoot>
								<tr>
									<td colspan="4" class="text-right">{% trans 'Total' %}:</td>
									<td colspan="2"><strong>{{ cart.getTotal().getAmount() }}</strong></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="panel-footer clearfix">
						<a id="reset" href="{{ url('webshop/cart/reset') }}" class="btn btn-danger">{% trans 'Reset' %}</a>
						<button class="btn btn-success">{% trans 'Update' %}</button>

						<div class="pull-right">
							<a href="{{ url('webshop/checkout') }}" class="btn btn-success">{% trans 'Checkout' %}</a>
						</div>
					</div>
				{% else %}
					<div class="panel-body"><i>{% trans 'The cart is empty' %}</i></div>
				{% endif %}
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}

<script src="{{ theme.asset_url('js/lib/bootbox.js') }}"></script>
{% endblock %}

{% block documentready %}
$(document).on('click', '#reset', function(e) {
	var link = $(this).attr('href');

	e.preventDefault();

	bootbox.confirm("{% trans 'Are you sure you want to reset your cart?' %}", function(result) {
		if (result) {
			document.location.href = link;
		}
	});
});
{% endblock %}
