{% extends 'frontend/layout.twig' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Cart</div>
				{% if cart.count() > 0 %}
					<table class="table">
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Subtotal</th>
							<th>Delete</th>
						</tr>

						{% for item in cart %}
							<tr>
								<td>{{ item.id }}</td>
								<td>{{ item.name }}</td>
								<td>{{ item.getPrice(true) }}</td>
								<td>{{ item.quantity }}</td>
								<td>{{ item.getSubtotal(true) }}</td>
								<td><a href="webshop/cart/remove/{{ item.getId() }}">Delete</a></td>
							</tr>
						{% endfor %}
					</table>
					<div class="panel-footer clearfix">
						<div class="pull-right">
							<a href="webshop/cart/reset" class="btn btn-danger">Reset</a>
						</div>
					</div>
				{% else %}
					<div class="panel-body"><i>The cart is empty</i></div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
